.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-left: 3rem;
}

.liste {
  margin: 1.5rem;
}
main {
  margin: 5rem;
}
body {
  background-color: whitesmoke;
}
h1 {
  text-align: center;
}

.liste_tekst {
  list-style-type: none;

  font-weight: bold;
}
p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.introduktion {
  margin-left: 3rem;
  margin-right: 3rem;
}
