* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/************* Header *************/

header {
  top: 0;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: lightsteelblue;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  margin-right: 50px;
}

nav ul a {
  list-style-type: none;
  text-decoration: none;
}

/************* Links *************/

.cta {
  list-style-type: none;
  text-decoration: none;
  color: #fc7a1e;
}

.cta:hover {
  color: #485696;
}

/************* Footer *************/

footer {
  padding: 3rem;
  background-color: lightsteelblue;
  font-size: 1rem;
}

.grid_footer {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  justify-items: right;
}
