* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #f0f0f0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/************* Header *************/

header {
  top: 0;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #95c4fd;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  margin-right: 50px;
}

nav ul a {
  list-style-type: none;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/************* Burger Menu *************/

#container {
  background: transparent;
  border: none;
  display: none;
  text-align: right;
}

@media (max-width: 800px) {
  #container {
    display: block;
  }
  .main-menu.shown {
    display: contents;
  }

  .main-menu ul {
    display: none;
  }

  .main-menu.shown ul {
    border-top: 1px solid #262973;
    padding-top: 1rem;
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
  }

  #container {
    display: grid;
    justify-content: end;
    cursor: pointer;
    width: 100%;
  }
  .main-menu.shown li {
    text-align: end;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #262973;
    margin: 6px 0;
    transition: 0.4s;
  }

  /***** Rotater første bar *****/
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  /***** Rotater anden bar *****/
  .change .bar2 {
    opacity: 0;
  }

  /***** Rotater tredje bar *****/
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
}

/************* Links *************/

.cta {
  list-style-type: none;
  text-decoration: none;
  color: #262973;
}

.cta:hover {
  color: #ff6c00;
}

/************* Footer *************/

footer {
  padding: 3rem 12rem 3rem 12rem;
  background-color: #262973;
  font-size: 1rem;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (max-width: 800px) {
  footer {
    padding: 2rem;
  }
}

.grid_footer {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
