/************* Logo *************/

.logo {
  display: block;
  width: 4.5rem;
  margin-left: 50px;
}

@media (max-width: 800px) {
  .logo {
    width: 4rem;
    margin-left: 20px;
  }
}

/************* Tekstfarver *************/

.blue {
  color: #262973;
}

.orange {
  color: #ff6c00;
}
